<style>
    body{
    font-family: Arial, sans-serif;
    background:#f4f6f9;
    margin:0;
    padding:40px;
}

.container{
    width:400px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    color:#333;
}

input,
select,
button{
    width:100%;
    padding:12px;
    margin-top:12px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
    box-sizing:border-box;
}

button{
    background:#4CAF50;
    color:white;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:#43a047;
}

h3{
    margin-top:20px;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f7f7f7;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
}
</style>